.inventory-icon,
.upload-icon {
  font-size: 50px;
  color: #800080;
}

.card-body {
  margin: 0 auto;
}

.card-header .inventory-icon,
.card-header .upload-icon {
  text-align: center;
  width: 100%;
}

a .btn-admin {
  margin-left: 45px;
  margin-right: 45px;
}

.add-product-submit {
  margin-top: 15px;
}

select.select-admin,
select.form-control,
select.form-control-sm {
  width: auto;
  margin-top: 1em;
}

table td {
  vertical-align: middle !important;
}
