.productsContainer {
  /* background: yellow;
  display: flex;
  padding: 50px;
  align-items: center;
  flex-wrap: wrap; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.productCard > figure {
  background: red;
  border: 2px solid black;
}

.productCard {
  max-width: 75%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
}

.productCard > figure > img {
  max-width: 100%;
  display: block;
}
