.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "navBar navBar navBar navBar"
    "filterProductsContainer filterProductsContainer filterProductsContainer filterProductsContainer";
}

.navBar {
  border: 2px yellow solid;
  grid-area: navBar;
}

.filterProductsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "filtersContainer productsContainer productsContainer"
    "filtersContainer productsContainer productsContainer";
  grid-area: filterProductsContainer;
  gap: 10px;
}

.filtersContainer {
  border: 2px black solid;
  grid-area: filtersContainer;
}

.productsContainer {
  border: 3px green solid;
  grid-area: productsContainer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.productCard img {
  width: 50%;
}
