.product-show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "productImage productDescription"
    "productReviews productReviews";
  gap: 10px;
}

.product-image-container {
  grid-area: productImage;
}

.product-description-container {
  grid-area: productDescription;
}

.product-review-container {
  grid-area: productReviews;
}
